PORT=3012
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/stripe_connect_db"

# Stripe Keys
STRIPE_SECRET_KEY=sk_test_...
STRIPE_PUBLISHABLE_KEY=pk_test_...

# Logging
LOG_LEVEL=info
